// COLOR
$secondaryCol: #8b95a1;
$darkMode: #101010;
$lightMode: #eeeeee;

// SPACE
$whiteSpaceDesktop: 2rem;
$whiteSpaceMobile: 1rem;

// DIMENSION
$CFHeightTemp: calc(100vh - 96px);
$CFHeightTempMobile: calc(100vh - 64px);