// COLOR

$primaryColor: #157de6;
$secondaryCol: #8b95a1;
$darkMode: #101010;
$lightMode: #eeeeee;

// SPACE
$whiteSpaceDesktop: 2rem;
$whiteSpaceMobile: 1rem;
$whiteSpaceUI: 1.5rem;
$whiteSpaceLarge: 3rem;

// DIMENSION
$CFHeightTemp: calc(100vh - 96px);
$CFHeightTempMobile: calc(100vh - 64px);