@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./mixin";
@import "./var";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}



// NAV
.nav {
    @include dimension(100%, auto);
    @include flex(row, space-between, center, 2rem);
    position: relative;
    padding: $whiteSpaceDesktop;

    .btn-menu {
        transition: .3s ease;
    }

    .nav-main {
        @include flex($gap: 2.5rem, $ai: center);

        .nav-links {
            @include flex(row, $gap: 2rem);
        }

        .btn-close-nav {
            position:absolute;
            top: 3%;
            left: 3%;
            z-index: 200;
            display: none;
        }

        .logo {
            @include dimension(2rem, 2rem);
            img {@include dimension(100%)};
        }
    }

    .account {
        @include dimension(2rem, 2rem);

        .account-ctr {
            @include dimension(100%, 100%);                
            border-radius: 50%;
            background-color: $secondaryCol;
            img {@include dimension(100%,100%); border-radius: 50%;}
        }
    }
}

// COLOR FIELD
.color-field {
    @include dimension(100%, $CFHeightTemp);
    @include flex($direction: column);

    .tools {
        @include dimension(100%);
        @include flex($jc: space-between, $ai: center);
        padding: 1rem $whiteSpaceDesktop;

        .desc {
            p {color: $secondaryCol}
        }

        .main-tools {
            @include flex($ai: center, $gap: $whiteSpaceDesktop);

            .btn-save {
                &.saved {
                    color: $primaryColor;
                }
            }
        }
    }

    .color-scheme {
        @include dimension(100%, 100%);
        position: relative;
        .color-bar {
            @include dimension($height: 100%);
            position: absolute;
            transition: .3s ease;
            transform-origin: left;

            .btn * {
                pointer-events: none;
            }

            
            .color-bg {
                position: absolute;
                @include dimension(100%, 100%);
                pointer-events: none;
                z-index: 0;
                &:hover .btn {opacity: 1;}
            }

            .color-body {
                @include dimension(100%, 100%);
                @include flex(column, center, center, 3rem);
                position: absolute;

                .btn {
                    outline: none;
                    opacity: 0;
                }
                
                &:hover .color-tools .btn {opacity: 1;}

                .color-tools {
                    @include flex(column, center, center, 1.5rem);

                    .btn-lock.lock {
                        transition: .5s ease;
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }

                .color-info {
                    @include flex(column, center, center, .5rem);
                    text-align: center;
                    .color-code {
                        font-size: 2rem;
                    }
                    .color-name {font-size: 1.5rem;}
                }
            }
        }
    }
}

// UI
.ui {
    @include dimension(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    .overlay {
        @include dimension(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(46, 59, 73, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .messageUI {
        @include dimension(100%, 100%);
        @include flex(column, flex-end, center, 2rem);
        position: absolute;
        margin-top: auto;
        padding: $whiteSpaceDesktop;

        .message {
            padding: $whiteSpaceMobile $whiteSpaceDesktop;
            text-align: center;
            border-radius: 10px;
            box-shadow: 1px 1px 3px rgba(0,0,0,.3);
            animation: appear .5s ease-out;
        }

        .message-alert {
            background: rgb(194, 12, 48);
            color: $lightMode;
        }

        .message-success {
            background: rgb(0, 145, 0);
            color: $lightMode;
        }

        .message-disappear {
            animation: disappear .5s ease-out;
        }
    }

    .bookmark {
        @include dimension(clamp(50%, 700px, 100%), 100%);
        @include position($top: 0, $right: 0);
        position: fixed;
        padding: $whiteSpaceDesktop;
        background-color: $lightMode;
        display: block;
        visibility: hidden;
        z-index: 99;
        pointer-events: auto;
        transition: .3s ease;
        transform: translateX(100%);

        &._inOverlay {
            visibility: visible;
            transform: translateX(0%);
        }

        .bookmark-tool {
            @include flex(row, space-between, center)
        }

        .pallete-library {
            @include dimension(100%, auto);
            @include flex(column, $gap: $whiteSpaceUI);
            margin-top: $whiteSpaceLarge;

            .pallete-item {
                @include dimension(100%, auto);
                @include flex(column, $gap: .5rem);

                
                &:hover {
                    .btn-pallete-more {
                        opacity: 1 !important;
                    }
                }

                .pallete-name {
                    font-size: 1rem;
                }
                
                .pallete-interface {
                    @include dimension(100%, 100%);
                    @include flex(row, space-between, center);

                    .pallete-bar {
                        @include dimension(auto, 100%);
                        @include flex(row);

                        .bar {
                            @include dimension(clamp(2rem, 100px, 3rem), clamp(2rem, 100px, 3rem));
                        }
                    }

                    .btn-pallete-more {
                        opacity: 0;
                    }
                }
            }
        }
    }

}

// RESPONSIVE ELEMENT //

@media screen and (max-width: 768px) {
    .nav {
        padding: $whiteSpaceMobile;

        .nav-main {
            @include dimension(clamp(80%, 100%, 100%), 100vh);
            @include flex(column, flex-start, center, 1rem);
            position: fixed;
            top: 0;
            left: 0;
            padding: $whiteSpaceDesktop;
            background-color: $lightMode;
            box-shadow: 0 1px 1px rgba(0,0,0,.3);
            z-index: 0;

            transform: translateX(-100%);
            transition: .3s ease;

            .btn-close-nav {
                &.active {
                    display: block;
                }
            }

            .nav-links {
                @include flex(column, $ai: center, $gap: 2rem);
            }

            .logo {
                margin-bottom: $whiteSpaceDesktop;
            }

            &._inOverlay {
                z-index: 105;
                transform: translateX(0);
            }
        }

    }

    .color-field {
        @include dimension($height: $CFHeightTempMobile);
        flex-direction: column-reverse;
        .tools {
            padding: $whiteSpaceMobile;
            justify-content: center;

            .main-tools {
                @include dimension(100%);
                justify-content: space-evenly;
            }

            .desc {display: none;}
        }

        .color-scheme {
            @include flex(column, flex-start, stretch);
            .color-bar {
                @include dimension(100%, 25%);
                
                .color-body {
                    @include flex(row-reverse, space-between, center);
                    padding: $whiteSpaceMobile;

                    .color-tools {
                        @include flex(row, center, center, 1.5rem);
                        opacity: 1;

                        .btn {
                            opacity: 1;
                        }

                        .btn-drag {
                            display: none;
                        }
                    }

                    .color-info {
                        .color-code {font-size: 1.5rem}
                        .color-name {display: none;}
                    }
                }
            }

            .color-bar.dragged {
                cursor: grabbing;
                z-index: 99;
            }

        }
    }
}


@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes added {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}