@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./mixin";
@import "./var";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}



// NAV
.nav {
    @include dimension(100%, auto);
    @include flex(row, space-between, center, 2rem);
    position: relative;
    padding: $whiteSpaceDesktop;

    .logo {
        @include dimension(2rem, 2rem);
        img {@include dimension(100%)};
    }

    .nav-main {
        @include flex($gap: 2.5rem, $ai: center);

        .account {
            @include dimension(2rem, 2rem);

            .account-ctr {
                @include dimension(100%, 100%);                
                border-radius: 50%;
                background-color: $secondaryCol;
                img {@include dimension(100%,100%); border-radius: 50%;}
            }
        }
    }
}

// COLOR FIELD
.color-field {
    @include dimension(100%, $CFHeightTemp);
    @include flex($direction: column);

    .tools {
        @include dimension(100%);
        @include flex($jc: space-between, $ai: center);
        padding: 1rem $whiteSpaceDesktop;

        .desc {
            p {color: $secondaryCol}
        }

        .main-tools {
            @include flex($ai: center, $gap: $whiteSpaceDesktop);
        }
    }

    .color-scheme {
        @include dimension(100%, 100%);
        position: relative;
        .color-bar {
            @include dimension($height: 100%);
            position: absolute;
            transition: .3s ease;
            transform-origin: left;

            .btn * {
                pointer-events: none;
            }

            
            .color-bg {
                position: absolute;
                @include dimension(100%, 100%);
                pointer-events: none;
                z-index: 0;
                &:hover .btn {opacity: 1;}
            }

            .color-body {
                @include dimension(100%, 100%);
                @include flex(column, center, center, 3rem);
                position: absolute;

                .btn {
                    outline: none;
                    opacity: 0;
                }
                
                &:hover .color-tools .btn {opacity: 1;}

                .color-tools {
                    @include flex(column, center, center, 1.5rem);

                    .btn-lock.lock {
                        transition: .5s ease;
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }

                .color-info {
                    @include flex(column, center, center, .5rem);
                    text-align: center;
                    .color-code {
                        font-size: 2rem;
                    }
                    .color-name {font-size: 1.5rem;}
                }
            }
        }
    }
}

// UI
.ui {
    @include dimension(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;

    .messageUI {
        @include dimension(100%, 100%);
        @include flex(column, flex-end, center, 2rem);
        position: absolute;
        margin-top: auto;
        padding: $whiteSpaceDesktop;

        .message {
            padding: $whiteSpaceMobile $whiteSpaceDesktop;
            text-align: center;
            border-radius: 10px;
            box-shadow: 1px 1px 3px rgba(0,0,0,.3);
            animation: appear .5s ease-out;
        }

        .message-alert {
            background: rgb(194, 12, 48);
            color: $lightMode;
        }

        .message-success {
            background: rgb(0, 145, 0);
            color: $lightMode;
        }

        .message-disappear {
            animation: disappear .5s ease-out;
        }
    }
}

// RESPONSIVE ELEMENT //

@media screen and (max-width: 768px) {
    .nav {
        padding: $whiteSpaceMobile;
        .logo {display: none;}
        .nav-main {
            li:not(.account) {display: none;}
        }
    }

    .color-field {
        @include dimension($height: $CFHeightTempMobile);
        flex-direction: column-reverse;
        .tools {
            padding: $whiteSpaceMobile;
            justify-content: center;

            .main-tools {
                @include dimension(100%);
                justify-content: space-evenly;
            }

            .desc {display: none;}
        }

        .color-scheme {
            @include flex(column, flex-start, stretch);
            .color-bar {
                @include dimension(100%, 25%);
                
                .color-body {
                    @include flex(row-reverse, space-between, center);
                    padding: $whiteSpaceMobile;

                    .color-tools {
                        @include flex(row, center, center, 1.5rem);
                        opacity: 1;

                        .btn-drag {
                            display: none;
                        }
                    }

                    .color-info {
                        .color-code {font-size: 1.5rem}
                        .color-name {display: none;}
                    }
                }
            }

            .color-bar.dragged {
                cursor: grabbing;
                z-index: 99;
            }

        }
    }
}


@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes added {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}