@mixin dimension($width:auto, $height:auto) {
    width: $width;
    height: $height;
}

@mixin flex($direction: row, $jc:flex-start, $ai:flex-start, $gap:0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin position($top: auto, $left: auto, $bottom: auto, $right: auto) {
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

@mixin advanceWidth($min, $current, $max) {
    min-width: $min;
    width: $current;
    max-width: $max;
}

@mixin advanceHeight($min, $current, $max) {
    min-height: $min;
    height: $current;
    max-height: $max;
}

@mixin centerObjectByTransform() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}