:root {
    --primaryColor: rgb(21, 125, 230);
    --_primaryColor: rgb(13, 93, 173);
    --secondaryColor: #d8d5d5;
    --_secondaryColor: #bbbbbb;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}


li {list-style-type: none;}
a {
    text-decoration: none;
    color: #202020;
}
input {
    border: none;
}

/* TYPOGRAPHY */
.title-md {
    font-size: 1.3rem;
    font-weight: normal;
}

/* BUTTON */
.btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.btn * {
    pointer-events: none;
}

.btn-close {
    font-size: 1.5rem;
    color: #202020;
    cursor: pointer;
}
    .btn-close:hover {
        color: rgb(220, 20, 60);
    }

.btn-link {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .4rem .6rem;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--primaryColor);
}
    .btn-primary:hover {
        background-color: var(--_primaryColor);
    }

.btn-secondary {
    color: #202020;
    background-color: var(--secondaryColor);
}
    .btn-secondary:hover {
        background-color: var(--_secondaryColor);
    }

.btn-white {
    background-color: #fff;
    color: #202020;
}
    .btn-white:hover {
        color:rgb(73, 80, 87);
    }

.btn-icon {
    display: flex;
    font-size: 1.5rem;
    color: #5a6572;
}
    .btn-icon:hover {color: var(--primaryColor)}

.btn-flex {
    display: flex;
}

.btn-normal {
    font-size: 1.5rem;
    color: #5a6572;
}
    .btn-normal:hover {
        color: #202020;
    }

.btn-action {
    padding: .6rem 1.5rem;
    border-radius: 50px;
}

.btn-sign {
    padding: .6rem 2rem;
    border-radius: 50px;
}

.login-auth-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}

/* btn size */
.btn-md {
    font-size: 1.5rem;
}
.btn-ui {
    font-size: 1.5rem;
}
.btn-lg {
    font-size: 2rem;
}
.btn-mobile {
    font-size: 2rem;
}


/* FORM */
.label-form {
    font-size: .9rem;
    font-weight: lighter;
    color:rgb(73, 80, 87);
}
.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.input-field .input-style {
    padding: .5rem .1rem;
    border: none;
    font-family: sans-serif;
    color:rgb(136, 136, 136);
}
.input-field .input-style::placeholder {
    color:rgb(172, 172, 172);
}

/* OTHER BUTTON */
div[role="button"] {
    cursor: pointer;
}


.nav-link {color :rgb(49, 54, 59);}
.nav-link:hover {color: var(--_primaryColor);}

.nav-link.active {
    color:var(--_primaryColor);
}


/* TYPOGRAPY */
/* type */
.title {
    font-size: 1.3rem;
    font-weight: lighter;
}

/* size */
.text-lg {
    font-size: 2.5rem;
}
.text-md {
    font-size: 1.5rem;
}
.text-sm {
    font-size: 1.2rem;
}

/* thickness */
.text-bold {
    font-weight: bold;
}

/* UI */
.invisible {
    opacity: 0 !important;
}
.visible {
    opacity: 1;
}

.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
}

/* TRANSITION */
.transition-none {
    transition: none !important;
}

/* ANIMATION */
.add-anim {
    transform-origin: right !important;
    animation: added .3s ease;
}

/* REMOVE INITIAL */
.responsive-mobile, .mobile-flex {display: none;}


/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .responsive-mobile {display: block;}
    .mobile-flex {display: flex;}

    .tippy-box {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .login-auth-btn {
        width: 250px;
    }
}

@keyframes added {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}