:root {
    --primaryColor: rgb(21, 125, 230);
    --_primaryColor: rgb(13, 93, 173);
    --secondaryColor: #d8d5d5;
    --_secondaryColor: #bbbbbb;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}


li {list-style-type: none;}
a {
    text-decoration: none;
    color: #202020;
}

/* TYPOGRAPHY */
.title-md {
    font-size: 1.3rem;
    font-weight: normal;
}

/* BUTTON */
.btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.btn * {
    pointer-events: none;
}

.btn-link {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .4rem .6rem;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--primaryColor);
}
    .btn-primary:hover {
        background-color: var(--_primaryColor);
    }

.btn-secondary {
    color: #202020;
    background-color: var(--secondaryColor);
}
    .btn-secondary:hover {
        background-color: var(--_secondaryColor);
    }

.btn-icon {
    display: flex;
    font-size: 1.5rem;
    color: #5a6572;
}
    .btn-icon:hover {color: var(--primaryColor)}

.btn-normal {
    font-size: 1.5rem;
    color: #5a6572;
}
    .btn-normal:hover {
        color: #202020;
    }

.btn-action {
    padding: .6rem 1.5rem;
    border-radius: 50px;
}

.btn-sign {
    padding: .6rem 1.5rem;
    border-radius: 50px;
}

/* btn size */
.btn-md {
    font-size: 1.5rem;
}
.btn-ui {
    font-size: 1.5rem;
}
.btn-lg {
    font-size: 2rem;
}
.btn-mobile {
    font-size: 2rem;
}

/* OTHER BUTTON */
div[role="button"] {
    cursor: pointer;
}


.nav-link {color :rgb(49, 54, 59);}
.nav-link:hover {color: var(--_primaryColor);}

.nav-link.active {
    color:var(--_primaryColor);
}


/* UI */
.invisible {
    opacity: 0 !important;
}
.visible {
    opacity: 1;
}

.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
}

/* TRANSITION */
.transition-none {
    transition: none !important;
}

/* ANIMATION */
.add-anim {
    transform-origin: right !important;
    animation: added .3s ease;
}

/* REMOVE INITIAL */
.responsive-mobile, .mobile-flex {display: none;}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .responsive-mobile {display: block;}
    .mobile-flex {display: flex;}

    .tippy-box {
        display: none;
    }
}

@keyframes added {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}