li {list-style-type: none;}
a {
    text-decoration: none;
    color: #202020;
}

/* TYPOGRAPHY */
.title-md {
    font-size: 1.3rem;
    font-weight: normal;
}

/* BUTTON */
.btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
}
.btn * {
    pointer-events: none;
}

.btn-icon {
    font-size: 1.5rem;
    color: #5a6572;
}
.btn-icon:hover {color: rgb(21, 125, 230)}

.btn-normal {
    font-size: 1.5rem;
    color: #5a6572;
}
.btn-normal:hover {
    color: #202020;
}

/* btn size */
.btn-md {
    font-size: 1.5rem;
}
.btn-ui {
    font-size: 1.5rem;
}
.btn-lg {
    font-size: 2rem;
}
.btn-mobile {
    font-size: 2rem;
}


.nav-link {color :rgb(49, 54, 59);}
.nav-link:hover {color:#202020}

.nav-link.active {
    color:rgb(21, 125, 230);
}


/* UI */
.invisible {
    opacity: 0 !important;
}
.visible {
    opacity: 1;
}

/* TRANSITION */
.transition-none {
    transition: none !important;
}

/* ANIMATION */
.add-anim {
    transform-origin: right !important;
    animation: added .3s ease;
}

/* REMOVE INITIAL */
.responsive-mobile, .mobile-flex {display: none;}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .responsive-mobile {display: block;}
    .mobile-flex {display: flex;}

    .tippy-box {
        display: none;
    }
}

@keyframes added {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}