@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.from-overlay {
  z-index: 100;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: none;
}

.overlay.active {
  display: block;
}

.nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: relative;
  padding: 2rem;
}

.nav .btn-menu {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav .nav-main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.nav .nav-main .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.nav .nav-main .nav-links .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.nav .nav-main .btn-close-nav {
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 200;
  display: none;
}

.nav .nav-main .logo {
  width: 2rem;
  height: 2rem;
}

.nav .nav-main .logo img {
  width: 100%;
  height: auto;
}

.nav .nav-main .btn-sign {
  padding: .6rem 1.5rem;
  border-radius: 50px;
}

.nav .account {
  width: 2.1rem;
  height: 2rem;
  position: relative;
  display: none;
}

.nav .account .account-img-ctr {
  width: 2.1rem;
  height: 2rem;
  border-radius: 50%;
  pointer-events: none;
}

.nav .account .account-img-ctr .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav .account .account-img-ctr .img-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  background-color: #157de6;
}

.nav .account .account-img-ctr .img-default span {
  font-size: 1.1rem;
  color: #ffffff;
}

.nav .account .account-ctr {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #8b95a1;
  cursor: pointer;
}

.nav .account .account-settings-ctr {
  width: 20rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  position: absolute;
  right: 125%;
  display: none;
  padding: 1.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
  z-index: 99;
}

.nav .account .account-settings-ctr.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .account .account-settings-ctr .account-header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: relative;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dadada;
}

.nav .account .account-settings-ctr .account-header .right .account-name {
  font-weight: bold;
}

.nav .account .account-settings-ctr .account-settings {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.nav .account .account-settings-ctr .account-settings .setting-item {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: .4rem 0;
  cursor: pointer;
}

.nav .account .account-settings-ctr .account-settings .setting-item:hover {
  background-color: #d9e2fa;
}

.nav .account .account-settings-ctr .account-settings .setting-item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.color-field {
  width: 100%;
  height: calc(100vh - 96px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.color-field .tools {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  padding: 1rem 2rem;
}

.color-field .tools .desc p {
  color: #8b95a1;
}

.color-field .tools .main-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.color-field .tools .main-tools .btn-save.saved {
  color: #157de6;
}

.color-field .color-scheme {
  width: 100%;
  height: 100%;
  position: relative;
}

.color-field .color-scheme .color-bar {
  width: auto;
  height: 100%;
  position: absolute;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.color-field .color-scheme .color-bar .btn * {
  pointer-events: none;
}

.color-field .color-scheme .color-bar .color-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.color-field .color-scheme .color-bar .color-bg:hover .btn {
  opacity: 1;
}

.color-field .color-scheme .color-bar .color-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  position: absolute;
}

.color-field .color-scheme .color-bar .color-body .btn {
  outline: none;
  opacity: 0;
}

.color-field .color-scheme .color-bar .color-body:hover .color-tools .btn {
  opacity: 1;
}

.color-field .color-scheme .color-bar .color-body .color-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.color-field .color-scheme .color-bar .color-body .color-tools .btn-lock.lock {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.color-field .color-scheme .color-bar .color-body .color-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.color-field .color-scheme .color-bar .color-body .color-info .color-code {
  font-size: 2rem;
}

.color-field .color-scheme .color-bar .color-body .color-info .color-name {
  font-size: 1.5rem;
}

.ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ui .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(46, 59, 73, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.ui .overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.ui .messageUI {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: absolute;
  margin-top: auto;
  padding: 2rem;
}

.ui .messageUI .message {
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-animation: appear .5s ease-out;
          animation: appear .5s ease-out;
}

.ui .messageUI .message-alert {
  background: #c20c30;
  color: #eeeeee;
}

.ui .messageUI .message-success {
  background: #009100;
  color: #eeeeee;
}

.ui .messageUI .message-disappear {
  -webkit-animation: disappear .5s ease-out;
          animation: disappear .5s ease-out;
}

.ui .bookmark {
  width: clamp(50%, 700px, 100%);
  height: 100%;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
  position: fixed;
  padding: 2rem;
  background-color: #eeeeee;
  display: block;
  visibility: hidden;
  z-index: 99;
  pointer-events: auto;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.ui .bookmark.show {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.ui .bookmark .bookmark-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.ui .bookmark .no-pallete {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.ui .bookmark .pallete-library {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
  margin-top: 3rem;
}

.ui .bookmark .pallete-library .pallete-item {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

.ui .bookmark .pallete-library .pallete-item:hover .btn-pallete-more {
  opacity: 1 !important;
}

.ui .bookmark .pallete-library .pallete-item .pallete-name {
  font-size: 1rem;
}

.ui .bookmark .pallete-library .pallete-item .pallete-interface {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.ui .bookmark .pallete-library .pallete-item .pallete-interface .pallete-bar {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.ui .bookmark .pallete-library .pallete-item .pallete-interface .pallete-bar .bar {
  width: clamp(2rem, 100px, 3rem);
  height: clamp(2rem, 100px, 3rem);
}

.ui .bookmark .pallete-library .pallete-item .pallete-interface .btn-pallete-more {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
  .nav .nav-main {
    width: clamp(80%, 100%, 100%);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    background-color: #eeeeee;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    z-index: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .nav .nav-main .btn-close-nav.active {
    display: block;
  }
  .nav .nav-main .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .nav .nav-main .logo {
    margin-bottom: 2rem;
  }
  .nav .nav-main.show {
    z-index: 105;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .color-field {
    width: auto;
    height: calc(100vh - 64px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .color-field .tools {
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .color-field .tools .main-tools {
    width: 100%;
    height: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .color-field .tools .desc {
    display: none;
  }
  .color-field .color-scheme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
  }
  .color-field .color-scheme .color-bar {
    width: 100%;
    height: 25%;
  }
  .color-field .color-scheme .color-bar .color-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    padding: 1rem;
  }
  .color-field .color-scheme .color-bar .color-body .color-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    opacity: 1;
  }
  .color-field .color-scheme .color-bar .color-body .color-tools .btn {
    opacity: 1;
  }
  .color-field .color-scheme .color-bar .color-body .color-tools .btn-drag {
    display: none;
  }
  .color-field .color-scheme .color-bar .color-body .color-info .color-code {
    font-size: 1.5rem;
  }
  .color-field .color-scheme .color-bar .color-body .color-info .color-name {
    display: none;
  }
  .color-field .color-scheme .color-bar.dragged {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    z-index: 99;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes added {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes added {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
