@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: relative;
  padding: 2rem;
}

.nav .btn-menu {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav .nav-main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.nav .nav-main .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.nav .nav-main .btn-close-nav {
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 200;
  display: none;
}

.nav .nav-main .logo {
  width: 2rem;
  height: 2rem;
}

.nav .nav-main .logo img {
  width: 100%;
  height: auto;
}

.nav .nav-main .btn-sign {
  padding: .6rem 1.5rem;
  border-radius: 50px;
}

.nav .account {
  width: 2.1rem;
  height: 2rem;
  display: none;
}

.nav .account .account-ctr {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #8b95a1;
}

.nav .account .account-ctr img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.hero {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

.hero .main-info {
  margin-top: 5rem;
}

.hero .main-info .title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero .main-info .desc {
  margin-bottom: 2rem;
}

.hero .hero-illustration .illustration {
  position: relative;
  width: 400px;
  height: 400px;
}

.hero .hero-illustration .illustration img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
  .nav .nav-main {
    width: clamp(80%, 100%, 100%);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    background-color: #eeeeee;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    z-index: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .nav .nav-main .btn-close-nav.active {
    display: block;
  }
  .nav .nav-main .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .nav .nav-main .logo {
    margin-bottom: 2rem;
  }
  .nav .nav-main._inOverlay {
    z-index: 105;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .hero .hero-illustration {
    display: none;
  }
}
